*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #393C41;
}


.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    height: 25px;
    top: 0px;
    position:fixed;
    z-index: 10;
    
}
.navbar .logo {
    padding-left: 52px;
    position: relative;
    top: 1px;
}
.navbar .logo img {
    width: 115px;
    height: 13px;
}

.nav-center{
    left: 10px;
    position: relative;
}

#hover-event{
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    top: 0px;
}


.nav-center ul {
    display: flex;
    align-items: center;
    position: relative;
    left: 26px;
}

.nav-center ul li {
    font-size: 15px;
    
    list-style: none;
    
}


.nav-center ul li a {
    text-decoration: none;
    color: black;
    padding-right: 19px;
    margin: 0px;
    padding-left: 19px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 12px;
    transition: 0.9s;
}

/* .nav-center ul li a:hover{
    background-color: rgba(117, 117, 121, 0.253);
   
} */



.nav-right ul {
    display: flex;
    align-items: center;
    position: relative;
    right: 14px;
}


.nav-right ul li {
    list-style: none;
    font-size: 15px;
    
}

.nav-right ul li a{
    text-decoration: none;
    color: black;
    padding-right: 19px;
    margin: 0px;
    padding-left: 19px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 12px;
    transition: 0.5s;
}


/* .nav-right ul li a:hover{
    background-color: rgba(117, 117, 121, 0.253);
} */





#hover-tracker {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.55s ease-in-out;
    background-color: rgba(117, 117, 121, 0.253);
    font-size: 15px;
    bottom: -3px;
    margin-left: 0px;
    border-radius: 12px;
    position: absolute;
}





.model-S{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    color: rgb(34, 34, 34);
    overflow-y: hidden;
    background: url('../img/model\ S.jpg') center center/cover no-repeat ;
}


.model-S h2 {
    position: absolute;
    top: 105px;
    font-size: 42px;
    left: 696px;   
}

.model-S p {
    position: absolute;
    top: 160px;
    font-size: 16px;
    left: 653px;
}


.model-S img{
    width: 100%;
    overflow-y: hidden;
}




.model-3{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    
    overflow-y: hidden;
    background: url('../img/model\ 3.jpg') center center/cover no-repeat ;


}


.model-3 h2 {
    position: absolute;
    top: 85px;
    font-size: 42px;
    left: 696px;   
}

.model-3 p {
    position: absolute;
    top: 160px;
    font-size: 16px;
    left: 653px;
    
}
.model-3 p a{
    color: #fff;
}


